<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecnu.chinesecharactercottage">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activitys.BeginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activitys.CCCMainActivity"/>

        <activity android:name=".activitys.knowledge.TitleListActivity"/>
        <activity android:name=".activitys.knowledge.KnowledgeDetailsActivity"/>

        <activity android:name=".activitys.collection.CharacterActivity"/>
        <activity android:name=".activitys.collection.CollectionChoseActivity"/>

        <activity android:name=".activitys.character.CharacterLearningActivity"/>
        <activity android:name=".activitys.character.ComponentListActivity"/>
        <activity android:name=".activitys.character.PictogramActivity"/>
        <activity android:name=".activitys.character.ExampleActivity"/>

        <activity android:name=".activitys.test.TestChoseActivity"/>
        <activity android:name=".activitys.test.TestTOFActivity"/>
        <activity android:name=".activitys.test.TestCompleteActivity"/>
        <activity android:name=".activitys.test.TestHearMatchActivity"/>
        <activity android:name=".activitys.test.TestHearTOFActivity"/>

    </application>

</manifest>
