<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecnu.chinesecharactercottage">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activitys.BeginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activitys.CCCMainActivity"/>
        <activity android:name=".Activitys.CharacterLearningActivity"/>
        <activity android:name=".Activitys.HSKActivity"/>
        <activity android:name=".Activitys.ComponentListActivity"/>
        <activity android:name=".Activitys.ExampleActivity"/>
        <activity android:name=".Activitys.ReviewActivity"/>
        <activity android:name=".Activitys.Test.TestChoseActivity"/>
        <activity android:name=".Activitys.Test.TestTOFActivity"/>
        <activity android:name=".Activitys.Test.TestCompleteActivity"/>
        <activity android:name=".Activitys.Test.TestHearMatchActivity"/>
        <activity android:name=".Activitys.Test.TestHearTOFActivity"/>
        <activity android:name=".Activitys.PictogramActivity"/>

    </application>

</manifest>
